#title {
    color: #F0B310;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#playButton {
    color: #F0B310;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}